<template>
<div>
    <appStock v-for="stock in stocks" v-bind:stock="stock"></appStock>
</div>
</template>

<script>
import Stock from './Stock.vue';

export default {
    name: "Stocks",
    data: function () {
        return {
        
        };
    },
    components: {
        appStock: Stock,
    },
    computed: {
        stocks() {
            return this.$store.getters.stocks;
        }
    }
}
</script>

<style scoped>

</style>